.idea
images/GunnarHandwriting*
images/bb/*
images/connected_components/*
images/bb/*
images/detected/*
images/temp/*
TestPkg1/*.pyc
Training_Data/*box.bak*
Training_Data/*.bat
Training_Data/*.png
Training_Data/TrainData